<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>375852998632-mrodmb03f0m249fv0d8m4cc87lfq5j9e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375852998632-mrodmb03f0m249fv0d8m4cc87lfq5j9e</string>
	<key>API_KEY</key>
	<string>AIzaSyCHc0t-Er70ug2LT72CLIlUGgaD_iKcZnk</string>
	<key>GCM_SENDER_ID</key>
	<string>375852998632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sfree.sfree</string>
	<key>PROJECT_ID</key>
	<string>sfree-4f54c</string>
	<key>STORAGE_BUCKET</key>
	<string>sfree-4f54c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375852998632:ios:d7476602687a052f9b8e5d</string>
</dict>
</plist>